@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=PT+Sans&display=swap&family=Press+Start+2P&display=swap');

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer components {
    .swiper-button-prev,
    .swiper-button-next {
      color: theme('colors.primary') !important;
    }

    /* Colore paginazione da sistemare */
    .swiper-pagination-bullet {
        background: theme('colors.primary') !important;
    }
    .swiper-pagination-bullet-active,
    .swiper-pagination-progressbar-fill {
        background: theme('colors.primary') !important;
    }
  }

[x-cloak] { display: none !important; }