---
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Intro from "../components/Intro.astro";
import Services from "../components/Services.astro";
import Support from "../components/Support.astro";
import Gallery from "../components/Gallery.astro";
import ContactForm from "../components/ContactForm.astro";
---

<BaseLayout>
	<Hero />
	<div class="container max-w-7xl mx-auto md:px-20">
		<section class="-mt-32 pb-12">
			<Intro />
		</section>
		<section class="py-12">
			<Services />
		</section>
	</div>
	<section class="py-12">
		<Gallery />
	</section>
	<section class="py-12">
		<Support />
	</section>
	<div class="container max-w-7xl mx-auto md:px-20">
		<section class="pt-12">
			<ContactForm />
		</section>
	</div>
</BaseLayout>
