---
import BaseLayout from "../Layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import ContactForm from "../components/ContactForm.astro";
import AboutUs from "../components/AboutUs.astro";
---

<BaseLayout
	title="Lombarda Ascensori | Servizi"
>
	<Hero/>
	<div class="container max-w-7xl mx-auto md:px-20">
		<section class="-mt-32 pb-12">
			<AboutUs />
		</section>
		<section class="pt-12">
			<ContactForm />
		</section>
	</div>
</BaseLayout>
