<div class="card w-full pb-12 bg-base-100 shadow-xl">
    <div class="card-body">
        <h2
            class="card-title font-sans tracking-wider text-primary uppercase mx-auto text-3xl -mt-20 pt-20"
            id="main"
        >
            I Nostri Servizi
        </h2>

        <hr class="my-6" />

        <section
            class="text-base font-medium text-left prose md:max-w-full md:mx-12 mx-auto"
        >
            <!-- Ascensori -->
            <div>
                <h2
                    class="mb-2 text-2xl font-sans tracking-widfer text-primary -mt-16 pt-16"
                    id="ascensori"
                >
                    Ascensori
                </h2>
                <div>
                    <img
                        class="w-full h-80 sm:w-auto float-left mr-6 rounded mt-1 object-cover"
                        src="/images/ascensore1.jpg"
                        alt="Ascensori"
                    />
                    <p>
                        Siamo in grado di offrire una vasta gamma e tipologia di
                        impianti elevatori per soddisfare al meglio qualsiasi
                        richiesta e risolvere ogni problematica avanzata dal
                        cliente.
                        <br />
                        L'utilizzo delle tecnologie più innovative e moderne rispondenti
                        ai più severi criteri di <span
                            class="text-primary font-semibold"
                            >risparmio energetico</span
                        >, <span class="text-primary font-semibold"
                            >impatto ambientale</span
                        >
                        e <span class="text-primary font-semibold"
                            >sicurezza</span
                        >, ci permettono di migliorare la classe energetica e
                        aumentare il valore agli immobili.
                    </p>
                    <p>
                        L'affiancamento di un nostro professionista sin dalle
                        prime fasi della vendita, vi aiuterà a trovare le
                        soluzioni migliori per le finiture interne ed esterne,
                        allo scopo di valorizzare al meglio l'ambiente in cui
                        viene inserito l'ascensore.
                        <br />
                        Nostro punto di forza è il servizio <span
                            class="text-primary font-semibold"
                            >chiavi in mano</span
                        > dove offriamo un servizio completo per l'espletamento di
                        tutte le pratiche burocratiche comunali ed amministrative
                        pre e post vendita.
                    </p>
                </div>
            </div>

            <!-- Incastellature -->
            <div class="mt-16">
                <h2
                    class="clear-left mb-2 text-2xl font-sans tracking-widfer text-primary -mt-16 pt-16"
                    id="incastellature"
                >
                    Incastellature
                </h2>
                <div>
                    <div
                        class="lg:float-right flex h-80 lg:w-1/2 lg:ml-6 space-x-2 mb-4 lg:mb-0"
                    >
                        <img
                            class="w-1/2 h-full rounded my-0 object-cover"
                            src="/images/incastellatura1.jpg"
                            alt="Incastellatura 1"
                        />
                        <img
                            class="w-1/2 h-full rounded my-0 object-cover"
                            src="/images/incastellatura2.jpg"
                            alt="Incastellatura 2"
                        />
                    </div>
                    <p>
                        Nell'ampia gamma di proposte, le incastellature della <span
                            class="font-bold">Lombarda Ascensori</span
                        >, offrono soluzioni ideali per edifici privi di vano
                        ascensore essendo esse <span
                            class="text-primary font-semibold"
                            >autoportanti</span
                        >.
                    </p>
                    <p>
                        L'incastellatura è composta da profilati in acciaio di
                        facile inserimento grazie alla flessibilità del sistema
                        di tamponamento, permettono combinazioni di sicuro
                        risultato estetico.
                        <br />
                        Gli accostamenti di vetro e acciaio, alleggeriscono l'insieme
                        rendendo l'ambiente <span
                            class="text-primary font-semibold">luminoso</span
                        >.
                    </p>
                </div>
            </div>

            <!-- Montacarichi -->
            <div>
                <h2
                    class="-mt-16 pt-16 mb-2 text-2xl font-sans tracking-widfer text-primary clear-right"
                    id="montacarichi"
                >
                    Montacarichi
                </h2>
                <p>
                    <span class="font-bold">Lombarda Ascensori</span> offre una vasta
                    gamma di montacarichi per il <span
                        class="text-primary font-semibold"
                        >trasporto merci da 25kg a 3000kg di portata</span
                    >, con differenti soluzioni tecniche innovative atte a
                    rispondere alle esigenze del cliente.
                </p>
            </div>

            <!-- Elevatori -->
            <div class="mt-16">
                <h2
                    class="-mt-16 pt-16 mb-2 text-2xl font-bold text-primary"
                    id="elevatori"
                >
                    Installazione elevatori per disabili
                </h2>
                <div>
                    <img
                        class="w-full h-80 sm:w-auto float-left mr-6 mt-1 rounded object-cover"
                        src="/images/elevatore1.jpg"
                        alt="Elevatori per disabili"
                    />
                    <p>
                        <span class="font-bold">Lombarda Ascensori</span> propone
                        un ricco catalogo di elevatori per disabili che consentono
                        l'abbattimento delle barriere architettoniche.
                    </p>
                    <p>
                        Grazie alle più avanzate tecnologie, siamo in grado di
                        offrire elevatori per disabili con i minori ingombri che
                        si hanno a disposizione, per permettere di superare
                        qualunque dislivello ed agevolare lo spostamento di
                        anziani e disabili soprattutto in ambiente domestico. I
                        nostri <span class="text-primary font-semibold"
                            >mini-ascensori</span
                        >, sono strumenti <span
                            class="text-primary font-semibold"
                            >funzionali e pratici</span
                        >, dal <span class="text-primary font-semibold"
                            >design moderno</span
                        >, con la possibilità di
                        <span class="text-primary font-semibold"
                            >personalizzazione</span
                        >.
                    </p>
                    <p>
                        Le tecnologie adottate garantiscono il pieno rispetto
                        delle <span class="text-primary font-semibold"
                            >normative di sicurezza</span
                        > vigenti.
                    </p>
                </div>
            </div>

            <!-- Assistenza -->
            <div class="mt-16">
                <h2
                    class="-mt-16 pt-16 mb-2 text-2xl font-sans tracking-widfer text-primary clear-left"
                    id="assistenza"
                >
                    Assistenza
                </h2>
                <p>
                    Siamo in grado di effettuare, su ogni tipo di ascensore,
                    tutte le varie procedure per una corretta <span
                        class="text-primary font-semibold">manutenzione</span
                    > al fine di mantenere efficiente e sicuro l'impianto, garantendo
                    la funzionalità dello stesso. Il tutto svolto da personale adibito
                    alla manutenzione ed in possesso del certificato di abilitazione
                    alla manutenzione di ascensori, con esperienza pluriennale.
                </p>
                <p>
                    Il servizio di <span class="text-primary font-semibold"
                        >pronto intervento</span
                    >
                    per il ripristino del funzionamento di impianto guasto, viene
                    offerto su ogni tipo di impianto dalle ore 8:00 alle ore 18:00 dal
                    Lunedì al Sabato. Il servizio di <span class="text-primary font-semibold"
                        >reperibilità 24 ore su 24
                    </span>, garantisce l'intervento immediato per
                    l'intrappolamento di persone 365 giorni l'anno.
                </p>
            </div>

            <!-- Footer -->
            <div class="mt-16 w-full h-96 rounded-b">
                <img
                    class="object-cover object-center w-full h-full my-0 rounded"
                    src="/images/elevatore2.jpg"
                    alt="Bottoniera"
                />
            </div>
        </section>
    </div>
</div>
