<div class="card w-full pb-12 bg-base-100 shadow-xl">
    <div class="card-body">
        <h2 class="card-title font-sans tracking-wider text-primary uppercase mx-auto text-3xl -mt-20 pt-20"
            id="main"
        >
            I Nostri Servizi
        </h2>
        <hr class="my-6" />
        <section class="text-base font-medium text-left prose md:max-w-full md:mx-12 mx-auto">
            <div class="">
                <h2 class="mb-2 text-2xl font-sans tracking-widfer text-primary -mt-16 pt-16"
                    id="ascensori"
                >
                    Ascensori
                </h2>
                <div>
                    <img class="w-full h-80 sm:w-auto float-left mr-6 rounded mt-1"
                        src="/images/ascensore1.jpg"
                        alt="Ascensori"
                    />
                    <p>
                        Siamo in grado di offrire una vasta gamma e tipologia di impianti
                        elevatori per soddisfare al meglio qualsiasi richiesta e risolvere
                        ogni problematica avanzata dal cliente.
                        <br />
                        L'utilizzo delle tecnologie più innovative e moderne rispondenti
                        ai più severi criteri di risparmio energetico, impatto ambientale
                        e sicurezza, ci permettono di migliorare la classe energetica
                        e aumentare il valore agli immobili.
                    </p>
                    <p>
                        L'affiancamento di un nostro professionista sin dalle prime
                        fasi della vendita, vi aiuterà a trovare le soluzioni
                        migliori per le finiture interne ed esterne, allo scopo di
                        valorizzare al meglio l'ambiente in cui viene inserito
                        l'ascensore.
                        <br />
                        Nostro punto di forza è il servizio “chiavi in mano” dove offriamo
                        un servizio completo per l'espletamento di tutte le pratiche
                        burocratiche comunali ed amministrative pre e post vendita.
                    </p>
                </div>

                <h2 class="clear-left mt-16 mb-2 text-2xl font-sans tracking-widfer text-primary">
                    Incestellature
                </h2>
                <div>
                    <img class="w-full md:w-auto h-80 float-right ml-6 mt-0 rounded"
                        src="/images/incestellatura1.jpg"
                        alt="Incestellature"
                    />
                    <p>
                        Nell'ampia gamma di proposte, le incastellature della <span
                            class="font-bold text-primary"
                            >Lombarda Ascensori</span
                        >, offrono soluzioni ideali per edifici privi di vano
                        ascensore essendo esse autoportanti.
                    </p>
                    <p>
                        L'incastellatura è composta da profilati in acciaio di
                        facile inserimento grazie alla flessibilità del sistema di
                        tamponamento, permettono combinazioni di sicuro risultato
                        estetico.
                        <br />
                        Gli accostamenti di vetro e acciaio, alleggeriscono l'insieme
                        rendendo l'ambiente luminoso.
                    </p>
                </div>
            </div>

            <div>
                <h2 class="-mt-16 pt-16 mb-2 text-2xl font-sans tracking-widfer text-primary clear-right"
                    id="montacarichi"
                >
                    Progettazione ed Installazione di Montacarichi
                </h2>
                <p>
                    <span class="font-bold text-primary">Lombarda Ascensori</span
                    > offre una vasta gamma di montacarichi per il trasporto merci
                    da 25kg a 3000 kg di portata, con differenti soluzioni tecniche
                    innovative atte a rispondere alle esigenze del cliente.
                </p>
            </div>

            <div class="mt-16">
                <h2 class="-mt-16 pt-16 mb-2 text-2xl font-bold text-primary"
                    id="elevatori"
                >
                    Installazione elevatori per disabili
                </h2>
                <div>
                    <img class="w-full h-80 sm:w-auto float-left mr-6 mt-1 rounded"
                        src="/images/elevatore1.jpg"
                        alt="Elevatori per disabili"
                    />
                    <p>
                        <span class="font-bold text-primary">Lombarda Ascensori</span
                        > propone un ricco catalogo di elevatori per disabili e domestiche
                        consentono l'abbattimento delle barriere architettoniche.
                    </p>
                    <p>
                        Grazie alle più avanzate tecnologie, siamo in grado di
                        offrire elevatori per disabili con i minori ingombri che si
                        hanno a disposizione, per permettere di superare qualunque
                        dislivello ed agevolare lo spostamento di anziani e disabili
                        soprattutto in ambiente domestico. I nostri mini –
                        ascensori, sono strumenti funzionali e pratici, dal design
                        moderno, con la possibilità di personalizzazione.
                    </p>
                    <p>
                        Le tecnologie adottate garantiscono il pieno rispetto delle
                        normative di sicurezza vigenti.
                    </p>
                </div>
            </div>

            <div class="mt-16">
                <h2 class="-mt-16 pt-16 mb-2 text-2xl font-sans tracking-widfer text-primary clear-left"
                    id="assistenza"
                >
                    Manutenzione
                </h2>
                <p>
                    Siamo in grado di offrire una vasta gamma e tipologia di
                    impianti elevatori per soddisfare al meglio qualsiasi
                    richiesta e risolvere ogni problematica avanzata dal
                    cliente.
                </p>

                <div class="row">
                    <div class="row-6 row-12-mobilep">
                        <h2 class="mb-2 text-2xl font-bold text-primary">
                            Pronto intervento e reperibilità 24h
                        </h2>
                        <p>
                            Il servizio di pronto intervento per il ripristino
                            del funzionamento di impianto guasto, viene offerto
                            su ogni tipo di impianto dalle ore 8 alle ore 18,00
                            dal Lunedì al Sabato. Il servizio di reperibilità 24
                            ore su 24, garantisce l'intervento immediato per
                            l'intrappolamento di persone 365 giorni l'anno.
                        </p>
                    </div>
                </div>
            </div>

            <div class="w-full h-96 overflow-hidden rounded">
                <img class="object-contain w-full"
                    src="/images/elevatore2.jpg"
                    alt="Elevatore"
                />
            </div>
        </section>
    </div>
</div>
