<footer>
    <div class="bg-primary text-neutral-content text-sm w-full pb-6">
        <div
            class="container mx-auto p-10 place-items-start grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6"
        >
            <div class="space-y-6">
                <div class="flex flex-col">
                    <h3 class="font-semibold uppercase md:mb-2">
                        Lombarda Ascensori
                    </h3>
                    <h4>I nostri uffici sono in:</h4>
                    <span> Via A.Cederna 24</span>
                    <span> 20900 Monza - (MB) Italia</span>
                    <span> C.F./P.I. 06835950962</span>
                </div>

                <div class="">
                    <h3 class="text-base font-semibold uppercase md:mb-2">
                        Email
                    </h3>
                    <a
                        class="link link-hover"
                        href="mailto:lombardaascensori@virgilio.it"
                        >lombardaascensori@virgilio.it</a
                    >
                </div>
            </div>
            <div class="space-y-6">
                <div class="flex flex-col">
                    <h3 class="text-base font-semibold uppercase md:mb-2">
                        Moreno Poschini
                    </h3>
                    <span
                        >Responsabile area assistenza tecnica, preventivi
                        manutenzione.</span
                    >
                    <span class="link"> Cell +393356465704</span>
                </div>

                <div class="flex flex-col">
                    <h3 class="mt-6 text-base font-semibold uppercase md:mb-2">
                        Andrea Monici
                    </h3>
                    <span
                        >Responsabile vendite/progettazione ristrutturazioni e
                        ammodernamento ascensori esistenti.</span
                    >
                    <span
                        >Responsabile progettazione/vendita nuovi impianti.</span
                    >
                    <span class="link">Cell +393939208225</span>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-primary text-neutral-content w-full">
        <div class="footer footer-center p-4 bg-base-300 text-base-content">
            <div class="space-x-4 flex pt-6">
                <a class="link" href="#privacy">Cookie e Privacy</a>
                <a class="link" href="">Impostazioni Cookie</a>
            </div>
            <div class="">
                <p>&copy; Lombarda Ascensori. Tutti i diritti riservati.</p>
                <p>
                    Sviluppato da <a
                        class="link"
                        href="https://talale.it"
                        target="_blank">Alessandro Talamona</a
                    >
                </p>
            </div>
        </div>
    </div>
</footer>
