<div class="w-full bg-primary">
    <footer
        class="footer p-10 bg-primary text-neutral-content container max-w-7xl mx-auto"
    >
        <div class="md:mx-auto">
            <img class="h-12" src="/icon.png" />
            <div
                class="uppercase font-bold mb-2 text-neutral-content opacity-100"
            >
                Lombarda Ascensori
            </div>
            <div class="space-y-1">
                <p>C.F./P.I. 06835950962</p>
                <div>
                    <p>I nostri uffici sono in:</p>
                    <p>Via A.Cederna 24</p>
                    <p>20900 Monza - (MB) Italia</p>
                </div>
                <p>
                    Email: <a
                        class="link link-hover"
                        href="mailto:lombardaascensori@virgilio.it"
                        >lombardaascensori@virgilio.it</a
                    >
                </p>
            </div>
        </div>
        <div class="space-y-2 md:mx-auto md:max-w-xs">
            <div class="flex flex-col">
                <h3 class="text-base font-bold mb-2">
                    Moreno Poschini
                </h3>
                <span
                    >Responsabile area assistenza tecnica, preventivi
                    manutenzione.</span
                >
                <span class="link"> Cell +393356465704</span>
            </div>

            <div class="flex flex-col">
                <h3 class="mt-6 text-base font-bold mb-2">
                    Andrea Monici
                </h3>
                <span
                    >Responsabile vendite/progettazione ristrutturazioni e
                    ammodernamento ascensori esistenti.</span
                >
                <span
                    >Responsabile progettazione/vendita nuovi impianti.</span
                >
                <span class="link">Cell +393939208225</span>
            </div>
        </div>
    </footer>

    <footer class="footer footer-center p-10 bg-base-300 text-base-content">
        <div class="grid grid-flow-col gap-4">
            <a class="link link-hover" href="/cookie-policy">Cookie e Privacy</a>
            <a class="link link-hover" href="javascript: Cookiebot.renew()">Impostazioni Cookie</a>
        </div>
        <div>
            <div class="grid grid-flow-col gap-4">
                <a
                    class="cursor-pointer"
                    href="mailto:lombardaascensori@virgilio.it"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        class="w-6 h-6 fill-current"
                    >
                        <path
                            d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z"
                        ></path>
                        <path
                            d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z"
                        ></path>
                    </svg>
                </a>
                <a
                    class="cursor-pointer"
                    href="https://www.facebook.com/100064821672396"
                    target="_blank"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="fill-current h-6 w-6"
                        viewBox="0 0 24 24"
                        ><path
                            d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"
                        ></path>
                    </svg>
                </a>
            </div>
        </div>
        <div>
            <p>&copy; Lombarda Ascensori. Tutti i diritti riservati.</p>
            <p>
                Sviluppato da <a
                    class="link"
                    href="https://talale.it"
                    target="_blank">Alessandro Talamona</a
                >
            </p>
        </div>
    </footer>
</div>
