---
---

<div class="hero min-h-screen -mt-16 pt-32 pb-40 bg-[url(/banner.jpg)] font-sans bg-fixed">
    <div class="w-full text-center text-neutral-content ">
        <div class="w-full mb-12 bg-base-100 bg-opacity-80">
            <img class="px-2 py-6 mx-auto bg-transparent w-96" 
                src="/logo.png"
            />
            <p class="px-2 py-1 pb-6 text-xl font-bold uppercase text-primary" 
                style="text-shadow: 2px 2px 3px #fff;"
            >VI PORTEREMO SEMPRE PIÙ IN ALTO</p>
        </div>
        <div class="">
            <a href="#main">
                <div class="flex items-center justify-center w-16 h-16 mx-auto text-base-100 rounded-full bg-primary hover:bg-[color-mix(in_oklab,oklch(var(--p)),black_7%)] active:bg-[color-mix(in_oklab,oklch(var(--p)),black_7%)] active:shadow-inner">
                    <svg class="h-10 text-base-100 fill-current" viewBox="0 0 248.541 248.541">
                        <path d="M63.618 108.541h121.305a14 14 0 0 0 11.407-22.119L140.946 8.6a20.47 20.47 0 0 0-33.352 0L52.211 86.422a14 14 0 0 0 11.407 22.119zM184.923 140H63.618a14 14 0 0 0-11.407 22.119l55.384 77.822a20.47 20.47 0 0 0 33.352 0l55.384-77.822A14 14 0 0 0 184.923 140z"/>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</div>
