<div class="card w-full pb-12 bg-base-100 shadow-xl">
    <div class="card-body">
        <h2 class="card-title font-sans tracking-wider text-primary uppercase mx-auto text-3xl -mt-20 pt-20"
            id="main"
        >
            Chi Siamo
        </h2>
        <hr class="my-6" />
        <section class="text-base font-medium text-left prose md:max-w-full md:mx-12 mx-auto">
            <p>
                <span class="font-semibold text-primary"
                    >Lombarda Ascensori s.r.l.</span
                > nasce dalla fusione di 2 realtà artigiane già operanti
                nella zona di
                <span class="font-semibold text-primary"
                    >Monza e della Brianza</span
                > da circa 20 anni. L'esperienza acquisita ci suggerisce
                che il “contatto diretto” con il cliente è sinonimo di trasparenza
                e chiarezza nelle informazioni per ottenere un rapporto duraturo
                e continuativo.
            </p>
            <p>
                I titolari dell'azienda sono gli stessi tecnici che
                rispondono alle richieste di intervento sugli impianti
                eseguendo materialmente i lavori richiesti e che
                sapranno proporre le soluzioni più opportune per le
                vostre esigenze con preventivi dettagliati e
                personalizzati.
            </p>
            <p>
                Questa filosofia ci permette di abbattere costi
                aziendali e poter proporre offerte tra le più
                concorrenziali.
                <span class="font-semibold text-primary"
                    >Lombarda Ascensori</span
                > opera nel settore degli elevatori da anni con professionalità
                ed impegno, riuscendo con le migliori tecnologie ad offrire
                un prodotto all'avanguardia.
            </p>
            <p>
                <span class="font-semibold text-primary"
                    >Lombarda Ascensori</span
                > è l'azienda giusta per la progettazione e l'installazione
                di ascensori, montacarichi e elevatori per disabili oltre
                che alla manutenzione.
            </p>
            <p>
                <span class="font-semibold text-primary"
                    >Lombarda Ascensori</span
                > offre anche il servizio di Pronto Intervento.
            </p>
            <p>
                Siamo operativi in tutta la Lombardia, per qualunque
                informazione consultate il sito e non esitate a
                contattarci.
            </p>
        </section>
    </div>
</div>