<div class="hero">
    <div class="hero-content flex-col md:flex-row md:space-x-10">

        <img src="/images/support.png" class="w-full h-48 md:h-auto md:max-w-lg" />

        <div class="mt-12 md:mt-0 text-center md:text-left md:ml-6" >
            <h1 class="text-3xl text-primary font-bold uppercase">Assistenza</h1>
            <p class="py-6">
                Servizio di Pronto Intervento & Manutenzione 24/7.
            </p>
            <a class="link-primary link-hover" href="/servizi#assistenza">
                Scopri di piú
            </a>
        </div>

    </div>
</div>
