---
export interface Props{
    title?: string,
    description?: string,
    noindex?: boolean,
};

import '../assets/css/app.css';
import Config from "../theme.config.cjs";
import { SEO } from "astro-seo";

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const {title = Config.siteTitle, description = Config.siteDescription, noindex = false} = Astro.props;
---

<html lang="it" class="scroll-smooth page">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/icon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <SEO 
            title={title}
            description={description}
            noindex={noindex}
        />
    </head>
    <body class="font-serif relative">
        <Navbar />
        <div class="mt-16 page">
            <slot />
        </div>
        <Footer />

        <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/62913cfcb0d10b6f3e746ade/1g43lcfb5';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
            })();
        </script>
        
    </body>
</html>
